nav{
    float: right;
    padding: 12px;
    width: 16.66%;
    display: flex;
}

.backGroundOne{
    margin:0%;
    background: url("./assets/gradient-violet-bg.jpg");
    min-height: auto;
    padding-bottom: 100px;
    background-size: cover;
}

.navLogo{
    width:201px;
    height:auto;
}

.firstBoxTitle{

    text-align: center;
    padding-top: 140px;
}

.firstBoxParagraph{
    max-width: 560px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;

}